
<!-- head -->
<%- include partials/head.ejs %>
<!-- /head -->

<!-- body -->

<main class="wrap wrap-main">
  <%- include partials/header.ejs %>
  <section class="wrap wrap-body">
    <h1 class="static-header"><%-JSON.stringify(post.title).replace(/\"/g, "")%></h2>
    <%-body%>
    <% if(post.comments === true){ %>
      <%- include partials/comments.ejs %>
    <% } %>
  </section>

<!-- footer -->
<%- include partials/footer.ejs %>
<!-- /footer -->

<!-- /body -->
